body{
  margin:0;
}
ul,ol,button,p,li{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
header{
  float:left;
  width:calc(50% - 151px);
  min-height:1px;
}
main{
  float:left;
  margin: 0 auto;
  width:302px;
}
aside{
  min-width: 200px;
}
aside > p:first-child{
  display:inline-block;
  min-width:50px;
}
#history-box,#show-box{
  width:300px;
  height:30px;
  border:solid green 1px;
  text-align:right;
}
main button{
  font-size:20px;
  box-sizing: border-box;
  display:block;
  float:left;
  width:60px;
  height:40px;
}
#operate-box{
  width:300px;
  border:solid green 1px;
}
#operate-box>p{
  clear:both;
}
.unary{
  background-color:rgb(255, 200, 200);
}
.binary{
  background-color:rgb(200, 200, 255);
}
.constant{
  background-color: rgb(200, 255, 200);
}
.number{
  background-color: #aaa;
}
.unuseble{
  border:#ccc solid 2px;
  background-color: #eee;
}
.unuseble:active{
  border:#ccc solid 2px;
}